.food-info-section {
    /* border: 1px solid red; */
    display: flex;
    margin-bottom: .5em;
    background-color: #F0EFEF;        
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: .3em;
}

.food-info {
    /* border: 1px solid blue; */
    width: 70%;
}

.food-info-name {
    font-weight: 600;
}

.food-info-price {
    font-weight: 600;
}

.food-info-buttons {
    /* border: 1px solid green; */
    width: 30%;
}

.amount-div {
    display: flex;
    justify-content: space-between;
}

.amount-div button {
    border: 0;
    border-radius: 10px;
    /* border: 2px solid; */
    background-color: #FFFFFF;
}

.amount-info {
    font-weight: 600;
}

.remove-div {
    text-align: center;
}

.remove-div button {
    border: 2px solid;
    border-radius: 10px;
    border-color: red;
    width: 100%;
    margin-top: 5px;
    color: red;
}

.total-cart {
    font-size: 2em;
    font-weight: 700;
}

/* Section de total al fondo del cart */
.total-section {
    /* display: flex; */
    text-align: center;
}

.total-div {
    width: 100%;
}

.total-buttons {
    display: flex;
    justify-content: space-between;
}

.total-buttons button {
    width: 48%;
    font-size: large;
    padding: .2em;
    border-radius: 5px;
    border: 2px solid;
}

button:hover {
    cursor: pointer;
}

/* Cart vacio mensaje */
.empty-cart-msg {
    height: 100px;
    background-color: #F0EFEF;
    font-weight: 600;
    margin: auto;
    color: red;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}