.menu-section {
    padding: 2em;
    width: 100%;
}

.type-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 122rem;
    margin: auto;
    margin-bottom: 4rem;
}

.food-name {
    color: var(--secundary-color);
    font-size: 3.5rem;
    font-weight: bold;
}

.seeMore {
    color: #000000;
    font-size: 27px;
    font-weight: 400;
}
    /* food card */
.cards-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
    gap: 3.5rem;
    justify-content: center;
    margin-bottom: 7rem;
}
.more__container{
    display:flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}
.more__container img{
    width: 32px;
}

@media screen and (max-width:768px) {
    .food-name {
        font-size: 1.8rem;
    }
    .type-name-container{
        width: 100%;
    }
}