.icon__img--login {
    width: 2.4rem;
    height: 2.9rem;
  }


.user__list{
    font-size: 1.7rem;
    text-align: center;
    padding: 1rem;
}
.user__link{
    color: var(--main-color);
}


  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: var(--secundary-color)!important;
    color: var(--main-color)!important;
    min-width: 139px!important;
    min-height: auto!important;
}
.user__list:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: rgba(196, 196, 196, 0.04)!important;
}