.header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 6rem;
  }

  .header__container {
    display: flex;
    z-index: 50;
    width: 76%;
    min-width: 80rem;
    align-self: center;
    padding: 1.5rem 2rem;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background: var(--logo-text-gradient);
    backdrop-filter: blur(14px);
  }
  .logo__nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 85%;
    align-items: center;
  }
  .header__logo {
    font-size: 2.6rem;
    font-weight: 600;
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header__menu {
    align-items: center;
    width: calc(60% + 5px);
  }

  .header__menu > ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .menu__link {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .menu__link:hover {
    color: var(--main-color);
  }
  .header__icons {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .icon__img--login {
    width: 2rem;
    height: 3rem;
  }
  .icon__img--cart{
    width: 3rem;
    height: 4rem;
  }
  .icon__img--login:hover,
  .icon__img--cart:hover {
    filter: var(--icon-change-color);
  }
  .hamburger {
    display: none;
  }
  @media screen and (max-width: 776px) {

    .header__container {
      z-index: 50;
      width: 84%;
      gap: 1rem;
      justify-content: center;
    }
    .logo__nav {
      gap: 1rem;
    }


    .header__logo {
      font-size: 2rem;
    }

    .logo__nav {
      width: auto;
    }


  }

  @media screen and (max-width: 845px) {
    .header__container {
      z-index: 1;
    width: 99%;
    gap: 1.6rem;
    justify-content: center;
    min-width: unset;
    padding: 1rem 1rem;
    }
    .hamburger {
      display: block;
      z-index: 50;
      padding: 1rem 0.4rem;
    }
    .panel {
      position: fixed;
      height: 43dvh;
      text-align: center;
      z-index: 50;
      right: 0;
      position: fixed;
      background: #11021c;
      transform: translate(-106%, 0%);
      transition: 0.6s ease;
      width: 100%;
      border-radius: 14px;
      top: 68px;
    }
    .panel.is-active {
        transform: translate(0, 0);
    }

    .logo__nav {
      display: flex;
      gap: 3rem;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .menu__list{
      flex-direction: column;
    transform: translate(0, 0);
    padding-top: 60px;
    width: 100%;
    }
    .hamburger-inner,
    .hamburger-inner:after,
    .hamburger-inner:before {
      background-color: var(--main-color);
    }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner:after,
    .hamburger.is-active .hamburger-inner:before {
      background-color: #ffe500;
    }
  }