.category-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-category-div {
    text-align: center;
    padding: 1em;
}

.title-category-div,
h1 {
    color: var(--secundary-color);
    font-size: 3.5rem;
    font-weight: bold;
}

.category-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5em;
}